apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: keda
resources:
- namespace.yaml
helmCharts:
- name: keda
  namespace: keda
  repo: https://kedacore.github.io/charts
  version: 2.18.1
  releaseName: "keda"
  includeCRDs: true
  valuesFile: values.yaml
